<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body class="future">
    <div class="col-3-3">

        <div class="heading">
        <h2><b>Well come to YSH Bikes!</b></h2>
        <h2><i>Where do you want to ride?</i></h2>
         </div>

        <div>
        <label for="start" >Zipcode</label>
        <input type="text" name="start" id="start" placeholder="Start Location">
    </div><br>

    <div>
            
        <label for="destination" >Zipcode</label>
        <input type="text" name="destination" id="destination" placeholder="Destination">
    </div><br>

    <div>
            
        <label for="phonenum" >
        <input type="text" name="phonenum" class="phonenum" id="phonenum" placeholder="Phone Number">
        </label>
    </div><br>

    <div>
        <p>Starting Date</p>
        <input type="date" name="date" id="date">
    </div>
    <div>
            <p>Starting time</p>
            <input type="time" name="time" id="time">
        </div>



    </div>
    
</body>
</html>