<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
    <title>Home Page</title>
</head>

<body>

    <!----{{{body}}}-->

    <div class="container-fluid">
        <nav class="navbar">


            <div class="bikes">
                <h1>BIKES</h1>
                <select name="bike">
                              <option value="components">COMPONENTS</option>
                              <option value="accesories">ACCESORIES</option>
                              <option value="contact">CONTACT</option>
                      
                            </select>

            </div>
            <div class="form">
                <form action="http://localhost:300/user/login" method="post">


                    <div style="float:left;margin-right:20px;">
                        <label for="email">Email</label>
                        <input id="email" type="text" value="" name="body[email]" required>
                    </div>

                    <div style="float:left;margin-right:20px;">
                        <label for="password">Password</label>
                        <input id="password" type="password" value="" name="body[password]" minlength="5" required>
                    </div>
                    <div style="float:left;">

                        <button type="submit" name="submit" id="sign-in" value="send" class="btn btn-primary">Sign in</button>
                    </div>

                    <br style="clear:both;" />


                </form>
        </nav>
        </div>
        <div class="col-1-3">
            <h1><b>Sign Up</b></h1>
            <div class="first-name" style="float: left; margin-right: 20px;">
                <label for="first-name">
                            <input type="text" name="name" id="first-name" placeholder="First Name">
                          </label>
            </div>
            <div class="last-name" style="float:left;">
                <label for="last-name">
                              <input type="text" name="name" id="last-name" placeholder="Last Name">
                            </label>
            </div>
            <br style="clear:both;" />
            <div class="e-mail">
                <label for="e-mail">
                              <input type="tel" id="e-mail" name="e-mail" placeholder="e-mail" style="width: 200%; " required>
                            </label>
            </div>
            <div class="pass">
                <label for="pass">
                              <input type="password" id="pass" name="pass" placeholder="Password" minlength="5" required  style="width: 200%; "> 
                            </label>
            </div>


            <div class="drop-down">
                <p>Birthdate</p>
                <input type="date" name="birthdate" style="display: block;">
            </div><br>

            <div class="gender">
                <p>Geneder</p>
                <input type="radio" name="gender" value="Male" checked>Male<br>
                <input type="radio" name="gender" value="Female">Female<br>
                <input type="radio" name="gender" value="Other">Other
            </div><br>
            <div class="account-action">
                <input id="btn" type="submit" name="submit" value="Sign Up">
                <label>
                                <input type="checkbox" name="remember"> Stay signed in
                              </label>
            </div>
        </div>
        <div class="col-2-3" id="img" img src="bicycle.jpeg" alt="bicycle">
        </div>


        <div class="fixed-bottom">
            <small>&copy; YSH</small>
        </div>
        <script src="login.js"></script>
</body>

</html>