.future {
    background: url("assests/background-cover.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

.form {
    text-align: center;
    padding-top: 20px;
}

.future-btn {
    background: linear-gradient(#49708f, #b6d3e9);
    border: 0;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    padding: 8px 16px;
}

.container-fluid {
    background: #3B5998;
    padding: 30px;
}

.navbar h2 {
    text-align: center;
}